# macOS
.DS_Store

# Environment
.env
.env.*
!.env.example

# Dependencies
vendor/
app/vendor/

# Certificates / Keys
certs/
*.pem
*.key
*.crt
*.p12
*.pfx

# Cache & Logs
runtime/*
!runtime/.htaccess
!runtime/index.html
*.log
*.cache

# IDE
.idea/
.vscode/
*.sublime-*

# OS
Thumbs.db